@{
    ViewData["Title"] = "Product";
}

<div>
    <h2>Product deleted successfully!</h2>
    <a asp-controller="Products" asp-action="All" class="btn btn-primary">Go to all products</a>
    <p></p>
    <img src="~/images/defaultImages/recycle_bin.jpg" />
</div>