@{
    ViewData["Title"] = "Product";
}

<div>
    <h2>Product edited successfully!</h2>

    <img src="~/images/defaultImages/green_thumb_up.jpeg" />
</div>
<a asp-controller="Products" asp-action="All" class="btn btn-outline-dark">Go to all products</a>